<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Survey</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>나의 브랜드 MBTI 진단하기</h1>
        <p>브랜드 MBTI 진단 설문에 오신것을 환영합니다.<br><br>나의 브랜드 MBTI 진단을 위해,<br>아래 버튼을 눌러 설문을 시작해 보세요.</p>
        <!-- 설문 시작하기를 누르면 question_1 페이지로 이동 -->
        <form action="/question_1" method="get">
            <button type="submit" class="start-button">브랜드 MBTI 설문 시작하기</button>
        </form>
        <div class="footer">
            <br>
            <p>Powered by <a href="#">BlendedLab</a></p>
        </div>
    </div>
</body>
</html>
