<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Survey</h1>
        <form action="/submit/" method="post">
            {% for i in range(1, 8) %}
                <div class="question">
                    <label for="answer{{ i }}">Question {{ i }}:</label><br>
                    <span>매우 그렇지 않음</span>
                    <input type="radio" id="answer{{ i }}" name="answer{{ i }}" value="1" required>
                    <input type="radio" id="answer{{ i }}" name="answer{{ i }}" value="2" required>
                    <input type="radio" id="answer{{ i }}" name="answer{{ i }}" value="3" required>
                    <span>보통</span>
                    <input type="radio" id="answer{{ i }}" name="answer{{ i }}" value="4" required>
                    <input type="radio" id="answer{{ i }}" name="answer{{ i }}" value="5" required>
                    <input type="radio" id="answer{{ i }}" name="answer{{ i }}" value="6" required>
                    <span>매우 그렇다</span>
                    <input type="radio" id="answer{{ i }}" name="answer{{ i }}" value="7" required>
                </div>
                <br>
            {% endfor %}
            <input type="submit" value="Submit" class="submit-button">
        </form>

        <!-- 점수를 표시하는 부분 -->
        {% if total_score %}
            <h2>Your total score is: {{ total_score }}</h2>
        {% endif %}

    </div>
</body>
</html>
