<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Brand MBTI 설문조사</h1>
        <h2>다음의 단어 및 속성과 얼마나 가까운지 선택해주세요.</h2>
        <form action="/submit/" method="post">
            {% for i in range(1, 8) %}
                <div class="question">
                    <label>{{ questions[i-1] }}</label> <!-- 질문 텍스트 출력 -->
                    <div class="options">
                        <div class="option-item">
                            <span>그렇지 않다</span>
                            <input type="radio" name="answer{{ i }}" value="1" required>
                        </div>
                        <div class="option-item">
                            <span></span>
                            <input type="radio" name="answer{{ i }}" value="2" required>
                        </div>
                        <div class="option-item">
                            <span></span>
                            <input type="radio" name="answer{{ i }}" value="3" required>
                        </div>
                        <div class="option-item">
                            <span>보통</span>
                            <input type="radio" name="answer{{ i }}" value="4" required>
                        </div>
                        <div class="option-item">
                            <span></span>
                            <input type="radio" name="answer{{ i }}" value="5" required>
                        </div>
                        <div class="option-item">
                            <span></span>
                            <input type="radio" name="answer{{ i }}" value="6" required>
                        </div>
                        <div class="option-item">
                            <span>그렇다</span>
                            <input type="radio" name="answer{{ i }}" value="7" required>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Submit" class="submit-button">
        </form>

        {% if total_score %}
            <h2>Your total score is: {{ total_score }}</h2>
        {% endif %}
    </div>
</body>
</html>
