<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 7</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>극대화, 최대화, 확산,<br>모든 이들을 위한, 확대</h1>
        <form action="/question_7" method="post">
            <input type="hidden" name="response_1" value="{{ response_1 }}">
            <input type="hidden" name="response_2" value="{{ response_2 }}">
            <input type="hidden" name="response_3" value="{{ response_3 }}">
            <input type="hidden" name="response_4" value="{{ response_4 }}">
            <input type="hidden" name="response_5" value="{{ response_5 }}">
            <input type="hidden" name="response_6" value="{{ response_6 }}">
            <label for="response_7">위 단어의 속성과 얼마나 브랜드가 가까운지 선택해주세요.</label>
            <!-- 설명 추가 -->
            <div class="scale-labels">
                <span>매우 비공감</span>
                <span>보통</span>
                <span>매우 공감</span>
            </div>
            
            <!-- 라디오 버튼 그룹 -->
            <div class="radio-group">
                <label><input type="radio" name="response_7" value="1" required> 1</label>
                <label><input type="radio" name="response_7" value="2"> 2</label>
                <label><input type="radio" name="response_7" value="3"> 3</label>
                <label><input type="radio" name="response_7" value="4"> 4</label>
                <label><input type="radio" name="response_7" value="5"> 5</label>
                <label><input type="radio" name="response_7" value="6"> 6</label>
                <label><input type="radio" name="response_7" value="7"> 7</label>
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>
