<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 2</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>애정, 아름다움, 행복, 따스함</h1>
        <form action="/question_2" method="post">
            <input type="hidden" name="response_1" value="{{ response_1 }}">
            <label for="response_2">위 단어의 속성과 얼마나 브랜드가 가까운지 선택해주세요.</label>
            <!-- 설명 추가 -->
            <div class="scale-labels">
                <span>매우 비공감</span>
                <span>보통</span>
                <span>매우 공감</span>
            </div>
            
            <!-- 라디오 버튼 그룹 -->
            <div class="radio-group">
                <label><input type="radio" name="response_2" value="1" required> 1</label>
                <label><input type="radio" name="response_2" value="2"> 2</label>
                <label><input type="radio" name="response_2" value="3"> 3</label>
                <label><input type="radio" name="response_2" value="4"> 4</label>
                <label><input type="radio" name="response_2" value="5"> 5</label>
                <label><input type="radio" name="response_2" value="6"> 6</label>
                <label><input type="radio" name="response_2" value="7"> 7</label>
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>
